<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CSFileName" value="ExchangeService.cs"/>
    <add key="WsdlFileName" value="exchange3.wsdl"/>
    <add key="Namespace" value="GiisDmdkServiceReference"/>
    <add key="CertificateSerial" value="01c5264a0015af17b3412acf95f45f6b1f"/>
    <add key="WSDLscheme" value="https://exchange.dmdk.ru/ws/v3/exchange3.wsdl"/>
  </appSettings>
</configuration>