<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CSFileName" value="ExchangeService.cs"/>
    <add key="Namespace" value="GiisDmdkServiceReference"/>
    <add key="WSDLscheme" value="http://10.79.0.22:1600/ws/v2/exchange2.wsdl"/>
  </appSettings>
</configuration>